@import './reset.scss';
@import './variables.scss';
@import '../assets/fonts/fonts.scss';

html {
  font: 400 14px Montserrat, Areal, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

input,
button,
textarea,
select {
  background: var(--bg-color);
}

button {
  cursor: pointer;
}