:root {
  // radius
  --radius-smallest: 4px;
  --radius-small: 6px;
  --radius-medium: 10px;
  --top-radius-smallest: var(--radius-smallest) var(--radius-smallest) 0 0;
  --bottom-radius-smallest: 0 0 var(--radius-smallest) var(--radius-smallest);


  // colors
  --bg-color: #fff;
  --ui-kit-bg-color: #e5e5e5;
  --text-color: #1f2041;
  --text-color-75: rgba(31, 32, 65, 0.75);
  --text-color-50: rgba(31, 32, 65, 0.5);
  --text-color-25: rgba(31, 32, 65, 0.25);
  --text-color-5: rgba(31, 32, 65, 0.05);
  --primary-color: #bc9cff;
  --secondary-color: #6fcf97;

  // input
  --form-border: 1px solid var(--text-color-25);
  --form-border-focused: 1px solid var(--text-color-50);

  --input-width-biggest: 320px;
  --input-width-big: 276px;
  --input-width-medium: 222px;
  --input-width-small: 106px;
  --form-height: 44px;

  --form-padding: 13px 15px;

  // button
  --button-size-smallest: 30px;
  --button-size-small: 44px;

}