:root {
  //fonts
  --font-h2: 700 19px Montserrat, Areal, sans-serif;
  --font-h3: 700 12px Montserrat, Areal, sans-serif;

  // radius
  --radius-smallest: 4px;
  --radius-small: 6px;
  --radius-medium: 10px;
  --top-radius-smallest: var(--radius-smallest) var(--radius-smallest) 0 0;
  --bottom-radius-smallest: 0 0 var(--radius-smallest) var(--radius-smallest);

  // z-index
  --z-index-medium: 10;

  // colors
  --bg-color: #fff;
  --ui-kit-bg-color: #e5e5e5;
  --text-color: #1f2041;
  --text-color-75: rgba(31, 32, 65, 0.75);
  --text-color-50: rgba(31, 32, 65, 0.5);
  --text-color-25: rgba(31, 32, 65, 0.25);
  --text-color-5: rgba(31, 32, 65, 0.05);
  --primary-color: #bc9cff;
  --secondary-color: #6fcf97;

  --primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  --primary-gradient-transparent-25: linear-gradient(180deg,
      rgba(#bc9cff, 0.25) 0%,
      rgba(#8ba4f9, 0.25) 100%);

  --second-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

  // forms
  --form-border-50: 1px solid var(--text-color-50);
  --form-border: 1px solid var(--text-color-25);
  --form-border-5: 1px solid var(--text-color-5);
  --form-border-focused: 1px solid var(--text-color-50);

  --input-width-biggest: 320px;
  --input-width-big: 276px;
  --input-width-medium: 222px;
  --input-width-small: 106px;
  --form-height: 44px;

  --form-padding: 13px 0 13px 15px;

  // button
  --button-size-smallest: 30px;
  --button-size-small: 44px;
  --button-size-medium: 99px;
  --button-size-biggest: 320px;
  --button-height: 44px;

  // range
  --range-width: 266px;
}