mixin rich-checkbox-buttons()

  +checkbox-list({
    title: 'rich checkbox buttons',
    items: [
      {
        title: 'Широкий коридор',
        isRich: true,
        description: 'Ширина коридоров в номере не менее 91 см.',
      },
        {
        title: 'Помощник для инвалидов',
        isRich: true,
        description: 'На 1 этаже вас встретит специалист  и проводит до номера.',
      },
    ],
})