mixin date-dropdown(props = {})
  -
    const {
      variant='date',
      startTitle='date dropdown',
      endTitle='date dropdown',
      filterTitle='filter date dropdown',
    } = props;

    const classes = ['js-date-dropdown',]

  .date-dropodown&attributes({
    class: [
      classes,
    ],
    'data-name': variant,
    })
    if variant === 'date'
      +flex({
        gap: '18',
      })
        +dropdown({
          size: 'small',
          name: 'start',
          placeholder: 'ДД.ММ.ГГГГ',
          title: startTitle,
        })
        +dropdown({
          size: 'small',
          name: 'end',
          placeholder: 'ДД.ММ.ГГГГ',
          title: endTitle,
        })
    if variant === 'filter'
      +dropdown({
        size: 'medium',
        name: 'filter',
        placeholder: 'ДД.ММ.ГГГГ',
        title: filterTitle,
        })