h1.text {
  font: 700 24px Montserrat, Areal, sans-serif;
  line-height: 29px;
}

h2.text {
  font: var(--font-h2);
  line-height: 23px;
}

h3.text {
  font: var(--font-h3);
  line-height: 15px;
  text-transform: uppercase;
}

p.text {
  line-height: 24px;
}

p.text,
h1.text,
h2.text,
h3.text {
  &_weight {
    &_normal {
      font-weight: 400;
    }

    &_bold {
      font-weight: 700;
    }
  }

  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }

    &_capitalize {
      text-transform: capitalize;
    }
  }

  &_color {
    &_darkest-gray {
      color: var(--text-color);
    }

    &_dark-gray {
      color: var(--text-color-75);
    }

    &_gray {
      color: var(--text-color-50);
    }

    &_light-gray {
      color: var(--text-color-25);
    }

    &_lightest-gray {
      color: var(--text-color-5);
    }

    &_primary {
      color: var(--primary-color);
    }

    &_secondary {
      color: var(--secondary-color);
    }

    &_white {
      color: #fff;
    }
  }

  &_min-width {
    &_50 {
      min-width: 50px;
    }
  }

  &_align {
    &_end {
      text-align: end;
    }
  }

  &_hovering-color {
    &_gray {
      &:hover {
        color: var(--text-color-50);
      }
    }
  }

}

h3.text_color_gray {
  color: var(--text-color-50);
}