.named-wrapper {
  width: 100%;

  &_width {
    &_auto {
      width: auto;
    }
  }

  &__text {
    min-width: 212px;
  }

  &__content {
    display: flex;

    &_hide {
      display: none;
    }
  }
}