extends @/shared/layouts/ui-kit-layout/ui-kit-layout
include @/shared/ui/flex/index
include @/shared/ui/card/index
include @/shared/ui/text/index
include ../colors-list/colors-list
include ../types-list/types-list


block variables
  - const title = 'Colors and types'

block style
  link(rel='stylesheet' href=require('@/app/styles/index.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/flex/flex.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/card/card.scss')) 
  link(rel='stylesheet' href=require('@/shared/ui/text/text.scss')) 

block content
  +row({
    justify: "around"
  }) 
    +colors-list()
    +types-list()