.button {
  height: 100%;
  border-radius: var(--radius-smallest);
  position: relative;
  background: inherit;

  &_variant {
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.75s;

    &_arrow-right {
      background-image: url(./assets/icons/arrow_forward.svg);
    }

    &_expand {
      &::after {
        content: url(./assets/icons/expand_down.svg);
        display: inline-block;
      }

      &-up {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &_math {
      display: flex;
      border-radius: 50%;

      &::after {
        content: '';
        width: var(--button-size-smallest);
        height: var(--button-size-smallest);
        border: var(--form-border);
        border-radius: 50%;
        overflow: hidden;
      }

      &_disabled {
        cursor: default;

        &::after {
          border: var(--form-border-5);
        }

        &.button_variant_math-minus {
          &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 7px;
            background: linear-gradient(to bottom, transparent 56%, var(--text-color-5) 69%, var(--text-color-5) 80%, transparent 55%);
            top: 11px;
            left: 12px;
          }
        }

        &.button_variant_math-plus {
          &::before {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            background: linear-gradient(to bottom, transparent 39%, var(--text-color-5) 45%, var(--text-color-5) 60%, transparent 58%), linear-gradient(to right, transparent 38%, var(--text-color-5) 43%, var(--text-color-5) 56%, transparent 67%);
            top: 11px;
            left: 11px;
          }
        }
      }

      &-minus {
        &::before {
          content: '';
          position: absolute;
          width: 5px;
          height: 7px;
          background: linear-gradient(to bottom, transparent 56%, var(--text-color-50) 69%, var(--text-color-50) 80%, transparent 55%);
          top: 11px;
          left: 12px;
        }
      }

      &-plus {
        &::before {
          content: '';
          position: absolute;
          width: 7px;
          height: 7px;
          background: linear-gradient(to bottom, transparent 39%, var(--text-color-50) 45%, var(--text-color-50) 60%, transparent 58%), linear-gradient(to right, transparent 38%, var(--text-color-50) 43%, var(--text-color-50) 56%, transparent 67%);
          top: 11px;
          left: 11px;
        }
      }

    }
  }

  &_size {
    &_smallest {
      height: var(--button-size-smallest);
      width: var(--button-size-smallest);
    }

    &_small {
      width: var(--button-size-small);
    }
  }

  &_visability {
    &_hidden {
      visibility: hidden;
    }
  }
}