.button {
  height: 100%;
  border-radius: var(--radius-smallest);

  &_variant {
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.75s;

    &_arrow-right {
      background-image: url(./assets/icons/arrow_forward.svg);
    }

    &_expand {
      &::after {
        content: url(./assets/icons/expand_down.svg);
        display: inline-block;
      }

      &-up {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &_size {
    &_smallest {
      width: var(--button-width-smallest);
    }
  }
}