.button {
  height: 100%;
  border-radius: var(--radius-smallest);

  &_variant {
    &_arrow-right {
      background-image: url(./assets/icons/arrow_forward.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &_size {
    &_smallest {
      width: var(--button-width-smallest);
    }
  }
}