mixin button-main-bordered(props={})
  -
    const {
      text='click me',
      size='medium',
      hovered=false,
      link='',
    } = props

  +button({
    variant: 'main-bordered',
    size: size,
    hovered: hovered,
    link: link,
  })
    +text({
      h3: text,
      color: 'primary',
    })