.flex {
  display: flex;

  &_justify {
    &_start {
      justify-content: flex-start;
    }

    &_center {
      justify-content: center;
    }

    &_end {
      justify-content: flex-end;
    }

    &_around {
      justify-content: space-around;
    }

    &_between {
      justify-content: space-between;
    }
  }

  &_align {
    &_start {
      align-items: flex-start;
    }

    &_center {
      align-items: center;
    }

    &_end {
      align-items: flex-end;
    }
  }

  &_direction {
    &_row {
      flex-direction: row;
    }

    &_column {
      flex-direction: column;
    }
  }

  &_gap {

    &_10 {
      gap: 10px;
    }

    &_13 {
      gap: 13px;
    }

    &_16 {
      gap: 16px;
    }

    &_20 {
      gap: 20px;
    }

    &_30 {
      gap: 30px;
    }

    &_40 {
      gap: 40px;
    }

    &_50 {
      gap: 50px;
    }
  }

  &_width {
    &_100 {
      width: 100%;
    }

    &_69 {
      width: 69%;
    }

    &_59 {
      width: 59%;
    }
  }

}