mixin named-wrapper(props = {})
  -
    const {
      title='',
      subtitle=undefined,
      gap='',
      expandable=false,
    } = props

  .named-wrapper.js-named-wrapper
    +column({
      gap: gap,
    })
      +row({
        justify: 'between',
        align: 'center',
        width: '100',
      })
        +text({
          h3: title,
        })
        if subtitle !== undefined && expandable === false
          +text({
          h3: subtitle,
          weight: 'normal',
          color: 'gray',
          })
        if expandable === true
          span.js-named-wrapper__button
            +button-expand()
      .js-named-wrapper__content.named-wrapper__content.named-wrapper__content_hide
        +column({
          gap: '10',
        })
          block