extends @/shared/layouts/ui-kit-layout/ui-kit-layout
include @/entities/color/index

block variables
  - const title = 'Colors and types'

block style
  link(rel='stylesheet' href=require('@/app/styles/index.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/flex/flex.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/card/card.scss')) 
  link(rel='stylesheet' href=require('@/shared/ui/text/text.scss')) 

block content
  section
    +colors-list()