.form-wrapper {
  height: var(--form-height);
  border: var(--form-border);
  border-radius: var(--radius-smallest);
  display: flex;
  background: var(--bg-color);
  position: relative;
  z-index: var(--z-index-medium);



  &:hover {
    border: var(--form-border-focused);
  }

  &_focused {
    border: var(--form-border-focused);
  }

  &_radius {
    &_top-radius-smallest {
      border-radius: var(--top-radius-smallest);
    }
  }
}