.ui-kit-headers {
  background: var(--ui-kit-bg-color);

  &__first-header {
    position: absolute;
    width: 100%;
    top: 140px;
  }

  &__second-header {
    position: absolute;
    width: 100%;
    top: 252px;
  }

  &__first-footer {
    position: absolute;
    width: 100%;
    top: 361px;
  }

  &__second-footer {
    background: var(--ui-kit-bg-color);
    position: absolute;
    width: 100%;
    top: 804px;
    height: 427px;

    .wrapper {
      position: absolute;
      width: inherit;
      left: 336px;
      top: 38px;
    }
  }
}