.ui-kit-headers {

  &__first-header {
    position: absolute;
    width: 100%;
    top: 140px;
  }

  &__second-header {
    position: absolute;
    width: 100%;
    top: 252px;
  }

  // &__first-footer {
  //   position: absolute;
  //   width: 100%;
  //   top: 156px;
  // }

  &__second-footer {
    position: absolute;
    width: 100%;
    top: 637px;
    left: 336px;
  }
}