mixin button(props={})
  -
    const {
      variant="arrow-right",
      name="",
      type="",
    } = props

    const buttonVariants = ['arrow-right', 'expand']

    const buttonVarantClass = buttonVariants.includes(variant) && `button_variant button_variant_${variant}`

  button&attributes({
    class: [
      "button",
      'js-button',
      'button_size_smallest',
      buttonVarantClass,
    ],
    type: type,
    name: name,
  })

