mixin guests-dropdown(props = {})
  -
    const {
      title='dropdown',
      subtitle=undefined,
      gap='5',
    } = props

  +dropdown({
    title: title,
    subtitle: subtitle,
    gap: gap,
    size: 'big',
    variant: 'guests',
    value: "Сколько гостей",
    name: 'guests',
    items: [
      {
        title: 'взрослые',
        value: 0,
        itemName: 'first',
      },
      {
        title: 'дети',
        value: 0,
        itemName: 'second',
      },
      {
        title: 'младенцы',
        value: 0,
        itemName: 'third',
      },
    ]
})