.room-search-card {
  &__title {
    margin-bottom: 20px;
  }

  &__date-dropdown {
    padding-top: 2px;
  }

  &__guests-dropdown {
    padding-top: 2px;
  }

  &__button {
    padding-top: 10px;
  }
}