.text-field {
  height: var(--form-height);
  border: var(--form-border);
  border-radius: var(--radius-smallest);
  display: flex;
  background: var(--bg-color);

  &:hover {
    border: var(--form-border-focused);
  }

  &_focused {
    border: var(--form-border-focused);
  }

  &__input {
    height: 100%;
    padding: var(--form-padding);
    border-radius: var(--radius-smallest);
    color: var(--text-color-75);

    &::placeholder {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: var(--text-color-25);
    }

    &_size {
      &_biggest {
        width: var(--form-width-biggest);
      }

      &_big {
        width: var(--form-width-big);
      }
    }
  }


}