mixin expandable-checkbox-list()

  +checkbox-list({
    title: 'expandable checkbox list',
    expandable: true,
    items: [
      {
        title: 'Завтрак',
      },
      {
        title: 'Письменный стол',
        checked: true,
      },
      {
        title: 'Стул для кормления',
        checked: true,
      },
      {
        title: 'Кроватка',
        checked: true,
      },
      {
        title: 'Телевизор',
      },
      {
        title: 'Шампунь',
      },
    ],
  })