mixin pagination(props={})
  -
    const { 
      variant='working',
    } = props;
    const paginationsClasses = ['js-pagination']
    const variants = ['working', 'example']
    const paginationVariant = variants.includes(variant) && variant

  .pagination-component&attributes({
    class: paginationsClasses,
    'data-variant': paginationVariant,
  })
    .pagination__container.js-pagination__container
      .data-container.js-data-container
        ul.list-cards.js-list-cards
    .js-paging-container.paging-container
    p.pagination__description 1 – 12 из 100+ вариантов аренды
