.ui-kit-cards {
  position: relative;

  // &__room-search-card {
  //   position: absolute;
  //   top: 50px;
  //   left: 37%;
  // }

  &__booking-card {
    position: absolute;
    top: 50px;
    left: 37%;
  }
}