mixin types-list()
  +column({
    gap: "50",
  })
    +row({
      gap: "30",
      width: "69",
    })
      +text({
        h1: "h1",
        transform: "uppercase",
        color: "light-gray",
        weight: "normal",
        minWidth: "50",
        align: "end",
      })
      +text({
        h1: "This one is the sub-section or widget title",
      })
    +row({
      gap: "30",
      width: "69",
    })
      +text({
        h2: "h2",
        transform: "uppercase",
        color: "light-gray",
        weight: "normal",
        minWidth: "50",
        align: "end",
      })
      +text({
        h2: "Next one is the item title inside widgets",
      })
    +row({
      gap: "30",
      width: "69",
    })
      +text({
        h2: "h2",
        transform: "uppercase",
        color: "light-gray",
        weight: "normal",
        minWidth: "50",
        align: "end",
      })
      +text({
        h3: "This is a label or CTA text",
      })
    +row({
      gap: "30",
      width: "59",
    })
      +text({
        text: "Body",
        color: "light-gray",
        weight: "normal",
        minWidth: "50",
        align: "end",
      })
      +text({
        text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
      })
