mixin amenities-dropdown()
  +dropdown({
    size: 'medium',
    value: "Выберите удобства",
    name: 'amenities',
    items: [
      {
        title: 'спальни',
        value: 0,
        itemName: 'first',
      },
      {
        title: 'кровати',
        value: 0,
        itemName: 'second',
      },
      {
        title: 'ванные комнаты',
        value: 0,
        itemName: 'third',
      },
    ]
})