mixin amenities-dropdown()
  +dropdown({
    size: 'medium',
    value: 0,
    items: [
      {
        title: 'спальни',
        value: 0,
        itemName: 'bedroom',
      },
      {
        title: 'кровати',
        value: 0,
        itemName: 'bed',
      },
      {
        title: 'ванные комнаты',
        value: 0,
        itemName: 'bathroom',
      },
    ]
})