.card {

  &_square {
    width: 70px;
    height: 70px;
  }

  &_round {
    &_smallest {
      border-radius: var(--radius-smallest)
    }

    &_small {
      border-radius: var(--radius-small)
    }

    &_middle {
      border-radius: var(--radius-medium)
    }
  }

  &_theme {
    &_darkest-gray {
      background: var(--text-color);
    }

    &_dark-gray {
      background: var(--text-color-75);
    }

    &_gray {
      background: var(--text-color-50);
    }

    &_light-gray {
      background: var(--text-color-25);
    }

    &_lightest-gray {
      background: var(--text-color-5);
    }

    &_primary {
      background: var(--primary-color);
    }

    &_secondary {
      background: var(--secondary-color);
    }
  }

  &_variant_widget {
    min-width: 380px;
    max-width: 380px;
    padding: 39px 30px 30px 29px;
    background: var(--card-background);
    border: var(--card-border);
    box-shadow: var(--main-box-shadow);
  }
}