mixin simple-button(props={})
  -
    const {
      text='click me',
      hovered=false,
      hoveringColor='gray',
      color='primary',
    } = props

  +button({
    hovered: hovered,
    variant: 'simple',
    size: undefined,
  })
    +text({
      h3: text,
      color: color,
      hoveringColor: hoveringColor,
      hovered: hovered,
    })